@import "tailwindcss";

/* Background like figma */
.app-bg {
  background: radial-gradient(1200px 600px at 50% -10%, rgba(0, 255, 255, 0.22), transparent 50%),
              radial-gradient(900px 700px at 50% 40%, rgba(0, 140, 170, 0.20), transparent 55%),
              #060606;
}

/* soft card */
.card-soft {
  background: rgba(20, 20, 20, 0.55);
  backdrop-filter: blur(10px);
  border-radius: 26px;
}

/* neon outline for inputs */
.neon {
  border: 1px solid rgba(0, 255, 255, 0.55);
  box-shadow: 0 0 0 1px rgba(0, 255, 255, 0.15), 0 0 18px rgba(0, 255, 255, 0.12);
}

.clip-angle {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.line-clamp-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

body {
  margin: 0;
  background: #060606; /* fallback */
}
.card-soft {
  background: rgba(20, 20, 20, 0.55);
  backdrop-filter: blur(10px);
  border-radius: 26px;
}
@keyframes shakeX {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-6px); }
  40% { transform: translateX(6px); }
  60% { transform: translateX(-4px); }
  80% { transform: translateX(4px); }
}
.shake {
  animation: shakeX 0.28s ease-in-out;
}

@keyframes fadeInRight {
  from { opacity: 0; transform: translateX(14px); }
  to   { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-14px); }
  to   { opacity: 1; transform: translateX(0); }
}
.dir-rtl {
  direction: rtl;
}
.lang-animate {
  animation: langFade 250ms ease both;
}

@keyframes langFade {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
